<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <title>Precision Instructions</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'exam/lib/bootstrap/css/bootstrap.min.css'  %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'exam/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'exam/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'exam/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'exam/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'exam/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'exam/css/style.css' %}" rel="stylesheet">
</head>

<body>
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="{% static 'exam/img/intro-img.svg'%}" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>Read<br><span>Registration</span><br> Instructions </h2>
      </div>

    </div>
  </section>

  <main id="main">
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Instructions</h3>
          <p>Follow this onstructions to register for this exams.</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-"></i></div>
              <h4 class="title"><a href="">Category</a></h4>
              <p class="description">Send your full name,category and gender  to precisionacademicw@gmail.com or whatsapp 0701287573 .</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-clock"></i></div>
              <h4 class="title"><a href="">Payment</a></h4>
              <p class="description">Send a thousand naira to johnson miracle nkeoma 1233354784(Acess Bank)</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-bar-"></i></div>
              <h4 class="title"><a href="">Prove</a></h4>
              <p class="description">Send prove of payment to precisionacademicw@gmail.com or whatsapp 0701287573.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="icon"><i class="fa fa-bar-"></i></div>
                <h4 class="title"><a href="">Test Code</a></h4>
                <p class="description">Once your payment is confirmed, you will receive an access code for the test..</p>
              </div>

          </div>
        </div>    
        </div>

      </div>
    </section>
  </main>
<script src="{% static 'exam/js/main.js' %}"></script>

</body>
</html>