<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<meta charset="utf-8">
		<title>Precision</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="{% static 'exam/css/animate.min.css' %}">
		<link rel="stylesheet" href="{% static 'exam/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'exam/css/font-awesome.min.css' %}">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'exam/css/templatemo-style.css' %}">
		<script src="{% static 'exam/js/jquery.js' %}"></script>
		<script src="{% static 'exam/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'exam/js/jquery.singlePageNav.min.js' %}"></script>
		<script src="{% static 'exam/js/typed.js' %}"></script>
		<script src="{% static 'exam/js/wow.min.js' %}"></script>
		<script src="{% static 'exam/js/custom.js' %}"></script>
	</head>
	<body id="top">

		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-wave">
     	 		<div class="sk-rect1"></div>
       			<div class="sk-rect2"></div>
       			<div class="sk-rect3"></div>
      	 		<div class="sk-rect4"></div>
      			<div class="sk-rect5"></div>
     		</div>
    	</div>
    	<!-- end preloader -->

        <!-- start header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p><i class="fa fa-phone"></i><span> Phone</span>+2347012897573</p>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p><i class="fa fa-envelope-o"></i><span> Email</span><a href="">precisionacademicw</a></p>
                    </div>
                    <div class="col-md-5 col-sm-4 col-xs-12">
                        <ul class="social-icon">
                            <li><span>Meet us on</span></li>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                            <li><a href="https://www.youtube.com/channel/UC4yzoGuKkCL_8FzI-B-x83A" class="fa fa-youtube"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->

    	<!-- start navigation -->
		<nav class="navbar navbar-default templatemo-nav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">PRECISION</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#top">HOME</a></li>
						<li><a href="#about">ABOUT</a></li>
						<li><a href="#team">TEAM</a></li>
						<li><a href="#contact">CONTACT</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- end navigation -->

    	<!-- start home -->
    	<section id="home">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-offset-2 col-md-8">
    					<h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s"><span>We make wlearning too awesome</span></h1>
    					<div class="element">
                            <div class="sub-element">Hello, This is Precision.</div>
                            <div class="sub-element">Afraid To Write Exams, Try Out Our Demo Questions.</div>
                            <div class="sub-element">Directly Contact Us If You Need Anything.</div>
                        </div>
    					<a data-scroll href="{% url 'demo' %}" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">Try Demo</a>
						<a data-scroll href="{% url 'login' %}" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">Take Exam</a>
						<a data-scroll href="{% url 'examreg' %}" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s" style="background:blue">Register for exams</a>
						
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end home -->

    	<!-- start about -->
		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">WE ARE <span>PRECISION</span></h2>
    				</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-mobile"></i>
								</div>
								<h3 class="media-heading">Education Driven</h3>
							</div>
							<div class="media-body">
								<p>Precision Academy World was established to propel young people into academics excellence and erase the notion that says "mathematics is hard " and facilitate the better understanding of english language.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-book"></i>
								</div>
								<h3 class="media-heading">Ace Your Exams</h3>
							</div>
							<div class="media-body">
								<p>You can try out our demo questions at any time to improve your proficiency in both english language and mathematics. Trying out the demo in our platform is always free and ready for you to use at any time.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-phone"></i>
								</div>
								<h3 class="media-heading">Contact Us Directly</h3>
							</div>
							<div class="media-body">
								<p>You can contact us on any of our social media platform or from the numbers in our website. Yoyu can also reach us through our email addresss as we will be ready to help and answer your questions at any  time..</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end about -->

    	<!-- start team -->
    	<section id="team">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>AWESOME</span> TEAM</h2>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
    					<div class="team-wrapper">
    						<img src="{% static 'exam/images/ejima.jpg' %}" class="img-responsive" alt="team img 1">
    					</div>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
    					<div class="team-wrapper">
    						<img src="{% static 'exam/images/mrs.jpg' %}"  class="img-responsive" alt="team img 2">
    					</div>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
    					<div class="team-wrapper">
    						<img src="{% static 'exam/images/oga.jpg'%}" class="img-responsive" alt="team img 3">
    					</div>
    				</div>
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
    					<div class="team-wrapper">
    						<img src="{% static 'exam/images/mrs2.jpg'%}" class="img-responsive" alt="team img 3">
    					</div>
    				</div>
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
    					<div class="team-wrapper">
    						<img src="{% static 'exam/images/king.jpg'%}" class="img-responsive" alt="team img 3">
    					</div>
    				</div>
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
    					<div class="team-wrapper">
    						<img src="{% static 'exam/images/girl.jpg'%}" class="img-responsive" alt="team img 3">
    					</div>
    				</div>
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
    					<div class="team-wrapper">
    						<img src="{% static 'exam/images/girl2.jpg'%}" class="img-responsive" alt="team img 3">
    					</div>
    				</div>
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
    					<div class="team-wrapper">
    						<img src="{% static 'exam/images/man.jpg'%}" class="img-responsive" alt="team img 3">
    					</div>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end team -->

    	<!-- start contact -->
    	<section id="contact">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">CONTACT <span>PRECISION</span></h2>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
    					<form action="#" method="post" action="add_contact/">
							{% csrf_token %}
    						<label>NAME</label>
    						<input name="fullname" type="text" class="form-control" id="fullname">
   						  	
                            <label>EMAIL</label>
    						<input name="email" type="email" class="form-control" id="email">
   						  	
                            <label>MESSAGE</label>
    						<textarea name="message" rows="4" class="form-control" id="message"></textarea>

                            <input type="submit" class="form-control">
    					</form>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
    					<address>
    						<p class="address-title">OUR ADDRESS</p>
    						<p><i class="fa fa-phone"></i>+2347012897573</p>
    						<p><i class="fa fa-envelope-o"></i>precisionacademicw@gmail.com</p>
    						<p><i class="fa fa-map-marker"></i> 50, Thiruvoodal Street, Thiruvannamalai - 606 601.</p>
    					</address>
    					<ul class="social-icon">
    						<li><h4>WE ARE SOCIAL</h4></li>
    						<li><a href="#" class="fa fa-facebook"></a></li>
    						<li><a href="#" class="fa fa-twitter"></a></li>
    						<li><a href="https://www.youtube.com/channel/UC4yzoGuKkCL_8FzI-B-x83A" class="fa fa-youtube"></a></li>
    					</ul>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end contact -->

        <!-- start copyright -->
        <footer id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
                        Awesome &copy; Copyright 2016. Designed By Giri Designs</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end copyright -->

	</body>
</html>